<a href="https://colab.research.google.com/github/cmbote/Python-Visualization/blob/main/Choropleth_Map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook I will make a choropleth map displaying the percentage of Hourly Workers who made less than Minimun Wage by State in 2017

location of data - https://data.world/makeovermonday/2019w3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Importing Data

In [ ]:
import pandas as pd
import plotly.graph_objects as go
filename = '/content/drive/MyDrive/Coding Dojo Data Science/PandasForDataManipulation/Minimum Wage.xlsx' 
df = pd.read_excel(filename)
df.head()

   Year code       state category  Total  At Minimum Wage  Below Minimum Wage
0  2002   AL     Alabama    state  0.034            0.010               0.024
1  2002   AK      Alaska    state  0.011            0.005               0.005
2  2002   AZ     Arizona    state  0.040            0.015               0.025
3  2002   AR    Arkansas    state  0.052            0.023               0.029
4  2002   CA  California    state  0.010            0.002               0.009

In [ ]:
filt = df['Year']==2017

Filtering data to show only 2017 year

In [ ]:
df_filt=df.loc[filt,:]

In [ ]:
df_filt = df_filt.copy()
# Written to prevent error message "Settings with Copy Warning" in next cell

Recalculating 'Below Minimum Wage'

In [ ]:
df_filt['Below Minimum Wage'] = (df_filt['Below Minimum Wage']*100).astype(float)

In [ ]:
df_filt.head()

     Year code       state category  Total  At Minimum Wage  Below Minimum Wage
765  2017   AL     Alabama    state  0.034            0.022                 1.2
766  2017   AK      Alaska    state  0.012            0.006                 0.5
767  2017   AZ     Arizona    state  0.018            0.001                 1.6
768  2017   AR    Arkansas    state  0.018            0.004                 1.4
769  2017   CA  California    state  0.005            0.001                 0.4

In [ ]:
fig = go.Figure(data=go.Choropleth(
    locations=df_filt['code'], z = df_filt['Below Minimum Wage'], locationmode = 'USA-states', colorscale = 'ice',
    colorbar_title = "Below Minimun Wage %",reversescale=True,))

In [ ]:
fig.data[0].update(zmin=0, zmax=3)
fig.update_layout(title_text = 'The percentage of Hourly Workers who made less than Minimun Wage by State in 2017',geo_scope='usa')